/* убираем все стили */
* {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%;
    font: inherit; */
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    list-style: none;
}



header {
    background-color: #000000a6;
    display: flex;
    justify-content: space-between;
    margin: 2px;
    height: 70px;
    border-radius: 9px;
    padding: 0px 40px 0px 80px;
    box-shadow: 0 0 10px rgb(0 0 0 / 59%);
    align-content: stretch;
    align-items: center;
}

header a {
    color: #ffffff;
    cursor: pointer;
}

#header__logo img {
    height: 90px;
    margin-top: 20px;
}


#header__menu ul {
    display: flex;
    gap: 10px;
}

body {
    background-color: aqua;
    /* background-image: url("../images/background-image.png"); */
    background-size: 100vw auto;
    background-position: center;
}


/* изображение на заднем плане */
body::before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("../images/background-image.png") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.2;
}

#main-cont,
#training-cont {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1.5fr 2fr;
}

#main-cont_foto,
#training-cont_foto {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.training_button {
    margin: 80px 80px 0px 80px;
}


.training_button button {
    font-size: 20px;
    height: 50px;
    background-color: #000080bf;
    border-radius: 13px;
    color: aliceblue;
    margin: 22px 22px 0px 5px;
    padding: 4px;
    min-width: 130px;
}

#main-cont_body,
#training-cont_body {
    grid-row: 1;
    grid-column: 2;
    margin-right: 60px;
}

#footer__contact {
    background-color: #000000a6;
    /* display: flex; */
    justify-content: space-between;
    margin: 2px;
    height: 100px;
    border-radius: 9px;
    padding: 0px 40px 0px 80px;
    box-shadow: 0 0 10px rgb(0 0 0 / 59%);
    align-content: stretch;
    align-items: center;
}